.row.justify-content-center
  .col-xs-8.col-sm-7.col-m-10
    #alertSuccess.alert.alert-success.alert-dismissible.mt-5(role="alert" class=_flashMessage.length===0 && "hidden")
      button.close(type='button', data-dismiss='closeAlert', aria-label='Close')
        span(aria-hidden='true') &times;  
      p#successMessage.chill-text Please login first.


    #alertError.alert.alert-danger.alert-dismissible.mt-5(class=_flashError.length===0 && "hidden")
      button.close(type='button', data-dismiss='closeAlert', aria-label='Close')
        span(aria-hidden='true') &times;  
      p#errorMessage.chill-text You're already logged in.
