extends layout

block content

  section.text-center
    .cover-container.pb-5
      .cover-inner.container
        .row.justify-content-center
          .col-xs-12.col-sm-10.col-lg-4
            h2 Stock Search
            form#stockForm.mx-auto.mt-6(action="/stocks" method="POST")
              input(type="hidden", name="_csrf", value=csrfToken)
              .input-group
                input#stockSymbol.form-control(type="text" name="stockSymbol" placeholder="Stock Symbol" required)
                span.input-group-append
                  button.btn.btn-outline-white.btn-outline(type="submit") Search

            #stockStats.mt-5.hidden
              h3#s.stock
              p.openPrice Open Price: 
              p#o.chill-text 
              p.currentPrice Current Price:
              p#c.chill-text 
              p.highPrice High Price:
              p#h.chill-text 
              p.lowPrice Low Price:
              p#l.chill-text 
              p.previousClosePrice Previous Close Price:
              p#pc.chill-text 
              p.timestamp Timestamp: 
              p#t.chill-text 
